langchain
python-dotenv
ipykernel
langchain-community
wikipedia
langchain_huggingface
pandas
langchain-groq
huggingface_hub
langchain-openai
langchain-experimental
neo4j==5.24.0 #  neo4j-5.24.0
tiktoken
yfiles_jupyter_graphs
streamlit 
langchain_chroma
chromadb
pypdf
torch==2.0.0 
torchvision==0.15.0


## pip install --upgrade streamlit
#local packages --------------------------------
-e .